/**
 * Learning Docker
 * by @thepeg
 * https://github.com/marcopeg/learning-docker
 */

html {
    padding: 10%;
    font-family: monospace;
    color: lime;
    background: #222;
}

body {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

h1, p {
    margin: 0;
}

a {
    display: inline-block;
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}
