data

wp-content/themes/index.php
wp-content/themes/twentyfourteen
wp-content/themes/twentyfifteen
wp-content/themes/twentysixteen

wp-content/plugins/index.php
wp-content/plugins/hello.php
wp-content/plugins/akismet
